/* BASELINE */

* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
    font-family: "Audiowide", sans-serif;
    font-size: 2.5rem;
}

h3 {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 5px;
}

a {
    color: inherit;
}

a:hover {
    color:#f168f1;
}

body {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: #78244c;
    color: white;
    font-family: "Chakra Petch", sans-serif;
    letter-spacing: 1.5px;
}

header p, form p, form li {
    line-height: 2rem;
}


/* Header */
header > div {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
header img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    font-size: 1.2rem;
    margin-top: 5px;
}

header ul li {
    padding: 1rem;
    border-radius: 10px;
}

header li:hover {
    color:#f168f1;
    background-color: rgb(252, 205, 4);
}
header a {
    text-decoration: none;
}


h1 {
    text-align: center;
    letter-spacing: 0.3rem;
}

/* Form */
form {
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    border: 3px dashed white;
    padding: 20px;
}

form input[type="radio"]:hover {
    cursor: pointer;
}

form input[type="radio"] + label:hover {
    cursor: pointer;
}

form input, form button {
    font-family: inherit;
    font-size: 0.9rem;
}

form ul {
    padding-left: 0;
    list-style-type: none;
}

form p:last-child {
    display: flex;
    justify-content: center;
}

form p:last-child button {
    margin: 5px;
    padding: 10px;
    color: inherit;
    background: linear-gradient(90deg, rgba(101,60,87,1) 55%, rgba(177,97,196,1) 90%);
    border: 2px solid rgb(252, 205, 4);
    border-radius: 10px;
}

form p:last-child button:hover {
    box-shadow: 5px 5px 5px rgb(255, 255, 255, 30%);
    cursor: pointer;
}

form p:last-child button:active {
    box-shadow:
        inset -5px -5px 5px rgb(0, 0, 0),
        inset 5px 5px 5px rgb(255, 255, 255, 20%);
}

form h2 {
    margin: 0.5rem 0;
}

/* Output */
output {
    display: block;
    margin-top: 1rem;
}

/* Table */
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    color: white;
    border: 10px double purple;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.7);
}

th, td {
    padding: 1rem;
}

thead {
    background: linear-gradient(90deg, rgba(195,34,138,1) 44%, rgba(168,88,187,1) 86%);
}

td {
    text-align: center;
    font-size: 90%;
}

tbody tr:nth-child(even) {
    background-color: #e476cab5;
}

  
tbody tr:nth-child(odd) {
    background-color: #e495e4;
}

.schedule tbody tr:hover {
    background-color: rgb(252, 205, 4);
    color: black;
    box-shadow: 
        inset -5px -5px 5px rgb(0, 0, 0, 30%);
}
thead {
    color: rgb(252, 205, 4);
}

/* Summary */
.summary table td {
    text-align: start;
}
.summary table td {
    border: 1px solid white;
}

.summary p {
    margin: 0;
    line-height: 1.5rem;
}

.summary ul + p {
    margin-top: 1rem;
}

.summary td:hover {
    background-color: rgb(252, 205, 4);
    color: black;
    box-shadow: 
        inset -5px -5px 5px rgb(0, 0, 0, 30%);
}